# 忽略目录
build/
test/
tests/
node_modules/
dist/
out/
docs/

/packages/*/lib/
/packages/middleware-webpack/examples/
!/packages/cli/lib/
!/packages/middleware-jest/lib/

# node 覆盖率文件
coverage/

# 忽略测试文件
/packages/*/__tests__

# 忽略文件
**/*-min.js
**/*.min.js

*.bak
